.bgc{
  background-image: url("../../assets/GuitarBackground.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

}

.margin{
  margin-top: 100px;
}

.header{
  color: #464646;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  padding-top: 50px;
}

.footer{
  padding-bottom: 100px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item{
  display: flex;
  margin: 40px 20px 20px 20px;
  height: 470px;
  width: 350px;
  background-color: rgba(205, 205, 205, 0.7);
  flex-flow: column;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
}

.guitar{
  width: auto;
  height: 230px;
  padding: 20px 0px;

}

h1{
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
}

h2{
  font-size: 13px;
  font-family: Roboto;
  font-weight: lighter;
  padding: 5px;
}

p{
  font-size: 16px;
  font-family: Roboto;
  font-weight: 900;
  margin-top: -5px;
  margin-bottom: 5px;
}

.btn{
  width: 150px;
  flex-wrap: nowrap;
}

.sucesss{
  background-color: #498e6a;
  border-radius: 5px;
  border: none;
  height: auto;
  margin: auto;
  margin-right: 5px;
}

.sucesss:hover{
  background-color: #4b6a54;
}

.liked{
  width: 50px;
  flex-wrap: nowrap;
  margin: auto;
  height: auto;
  background-color: #e16976;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.liked:hover{
  background-color: #af5a63;
}

@media only screen and (max-width: 680px){
  .header{
    font-size: 30px;
  }

  .margin{
    margin-top: 50px;
  }
}
