<!-- Slide show -->

<ngb-carousel>
  <ng-template class="container" ngbSlide>
    <h1 class="caption"><h1 class="disc">-25%</h1>Na wszystkie gitary klasyczne!</h1>
    <p class="under-caption">Promocja trwa tylko do końca roku 2018.</p>
  </ng-template>
  <ng-template ngbSlide>
    <h1 class="caption">Wszystkie Twoje ulubione gitary na wyciągnięcie ręki!</h1>
    <h2 class="small-caption">Nasza strona jest już dostępna w wersji mobilnej.</h2>
    <div class="line"></div>
    <p class="under-caption">Chwytaj za smartfona i zamawiaj z każdego miejsca!</p>
  </ng-template>
</ngb-carousel>
