/* You can add global styles to this file, and also import other style files */
body {
  background:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.51),
      rgba(0, 0, 0, 0.9)
    ),
    url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}
