<div class="bgc">
  <div class="margin">
    <div class="container-fluid">
      <div class="header">Ulubione</div>
      <div class="row">
        <div *ngFor="let guitar of favourite.guitars; let i = index" class="container-cards">
          <div class="item">
            <img class="guitar" src="{{guitar.imgUrl}}" alt="Guitar 1">
            <h1 #nameInput style="font-family: 'Exo', sans-serif;color: #464646;">{{guitar.name}}</h1>
            <h2 #descInput style="font-family: 'Amiri', serif;color: #464646; font-size: 16px">
              {{guitar.description}}</h2>
            <p #priceInput style="font-family: 'Exo', sans-serif;color: #464646;">{{guitar.price}},-zł</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



