<div class="bgc">
  <div class="d-flex justify-content-around">

    <div>
      <div class="card-or" style="width: 18rem;">
        <p class="pr-desc">Nowych zamówień</p>
        <div class="card-body">
          <div class="row">
            <i class="fas fa-shopping-cart"
               style="color: white; font-size: 55px; margin-top: -25px;"></i>
            <div class="cart-number" style="margin-left: 90px; margin-top: -38px; font-size: 50px">23</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-op" style="width: 18rem;">

        <div class="card-body">
          <p class="pr-desc-us">Użytkowników</p>
          <div class="row">
            <i class="fas fa-user-alt" style="color: white; font-size: 55px; margin-top: -5px;"></i>
            <div class="cart-number" style="margin-left: 90px; margin-top: -20px; font-size: 50px">10</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-guit" style="width: 18rem;">
        <div class="card-body">
          <p class="pr-desc-gitary">Gitary pozostałe</p>
          <div class="row">
            <i class="fas fa-layer-group" style="color: white; font-size: 55px; margin-top: -5px;"></i>
            <div class="cart-number" style="margin-left: 90px; margin-top: -20px; font-size: 50px">{{sumGuitars}}</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card-cl" style="width: 18rem;">
        <div class="card-body">
          <p class="pr-desc-gitary">Wysłano wiadomości</p>
          <div class="row">
            <i class="fas fa-comments" style="color: white; font-size: 55px; margin-top: -5px;"></i>
            <div class="cart-number" style="margin-left: 90px; margin-top: -20px; font-size: 50px">10</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div style="width: 50%">
      <div class="circle-graph" style="margin-left: 13%; ">
        <canvas class="canvas" baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
        ></canvas>
      </div>
    </div>
    <div style="height: 650px;  margin-right: 14%">

      <div class="contact-section" style="margin-top: 50px">
        <div class="container">
          <div class="panel panel-default"
               style="width: 420px; height: 470px; background-color: rgba(195,196,204,0.43); display: block; margin-right: auto; margin-left: auto; border-radius: 7px">
            <div class="panel-heading" style="font-size: 20px; padding-bottom: 30px; height: 50px">DODAJ GITARĘ
            </div>
            <div class="panel-body">
              <div class="form-group">
                <select
                  style="width:380px; font-size: 18px; display: block; margin-left: auto; margin-right: auto; height: 35px"
                  class="form-control" id="inputGroupSelect012"
                  [(ngModel)]="guitar.category" name="category" #value="ngModel">
                  <option value="Acoustic">Acoustic</option>
                  <option value="Bass">Basowe</option>
                  <option value="Classic">Klasyczne</option>
                  <option value="Electric">Elektryczne</option>
                </select>
              </div>
              <div class="form-group">
                <input  style="width:380px; font-size: 18px; border: none; font-family: 'Exo', sans-serif; color: #464646;" type="text" class="form-control" placeholder="Link do zdjęcia gitary"
                        [(ngModel)]="guitar.imgUrl" name="amount" #value="ngModel">
              </div>
              <div class="form-group">
                <input  style="width:380px; font-size: 18px; border: none; font-family: 'Exo', sans-serif; color: #464646;" type="number" class="form-control" placeholder="Ilość"
                       [(ngModel)]="guitar.quantity" name="amount" #value="ngModel">
              </div>
              <div class="form-group">
                <input style="width:380px; font-size: 18px; border: none; font-family: 'Exo', sans-serif; color: #464646;" type="text" class="form-control" id="" placeholder="Nazwa"
                       [(ngModel)]="guitar.name" name="name" #value="ngModel">
              </div>
              <div class="form-group">
            <textarea style="width:380px; font-size: 18px; font-family: 'Exo', sans-serif; color: #464646; display: block; border: none; margin-left: auto; margin-right: auto; "
                      class="form-control" id="description" placeholder="Krótki opis"
                      [(ngModel)]="guitar.description" name="description" #value="ngModel"></textarea>
              </div>
              <div class="form-group">
                <input style="width:380px; font-size: 18px; border: none; font-family: 'Exo', sans-serif; color: #464646;" type="number" class="form-control" id="telephone"
                       placeholder=" Cena"
                       [(ngModel)]="guitar.price" name="price" #value="ngModel">
              </div>
              <button (click)="addGuitar()"
                      style="margin-left: auto; margin-right: auto; display: block; margin-top: 20px;  background: #E14658; border: none; width: 120px"
                      class="btn btn-primary">Dodaj
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-product">
    <div class="form-group">
      <h2 style="text-align: center; color: #343434">Wyszukaj informację na temat gitary oraz dokonaj zmiany</h2>
      <input #findInput style="width:400px; font-size: 18px; margin-top: 30px; color: #444444" type="text"
             class="form-control" id="saa" placeholder="Nazwa gitary">
      <button (click)=findGuitar(findInput.value)
              style="margin-left: auto; margin-right: auto; display: block; margin-top: 20px; margin-bottom: 100px; width: 120px;  background: #E14658; border: none;"
              class="btn btn-primary">Wyszukaj
      </button>
    </div>

    <div *ngIf="identify===1" style="margin-left: auto; margin-right: auto">
      <div class="panel panel-default"
           style="width: 450px; height: 440px; display: block; margin-right: auto; margin-left: auto;  background-color: rgba(195,196,204,0.43); border-radius: 7px; margin-bottom: 200px">
        <div class="panel-heading" style="font-size: 20px; padding-bottom: 30px; height: 50px; background-color: rgba(195,196,204,0.43);">Informacja o gitarze
        </div>
        <div class="panel-body">
          <div class="form-group">
            <input style="width:400px; font-size: 18px; border: none;" type="text" class="form-control" id="imgUrl"
                   placeholder=" Link do zdjęcia gitary"
                   [(ngModel)]="guitarFind.imgUrl" name="imgUrl" #value="ngModel">
          </div>
          <div class="form-group">
            <input style="width:400px; font-size: 18px; border: none;" type="text" class="form-control" id="name"
                   placeholder=" Cena"
                   [(ngModel)]="guitarFind.name" name="price" #value="ngModel">
          </div>
          <div class="form-group">
            <textarea
              style="width:400px;font-size: 18px; margin-left: auto; margin-right: auto; display: block; margin-top: 30px"
              class="form-control" id="description" placeholder="Krótki opis"
              [(ngModel)]="guitarFind.description" name="description" #value="ngModel"></textarea>
          </div>
          <div class="form-group">
            <input style="width:400px; font-size: 18px; border: none;" type="number" class="form-control" id="telephone"
                   placeholder=" Cena"
                   [(ngModel)]="guitarFind.price" name="price" #value="ngModel">
          </div>
          <div class="row">
            <button (click)=updateGuitar()
                    style="margin-left: auto; margin-right: auto; display: block; width: 120px; margin-top: 20px;  background: #E14658; border: none"
                    class="btn btn-primary">Edytuj
            </button>
            <button (click)=deleteGuitar()
                    style="margin-left: auto; margin-right: auto; display: block; width: 120px; margin-top: 20px;  background: #E14658; border: none"
                    class="btn btn-primary">Usuń
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

