.bgc{
  background-image: url("../../assets/GuitarBackground.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.card-or{
  background-color: rgba(252, 167, 15, 0.86);
  margin-top: 150px;
  width: 250px;
  height: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
}


.canvas{
  color: white;
}

.panel-default{
  background: white;
}

.card-op{
  background-color: rgba(228, 19, 35, 0.6);
  margin-top: 150px;
  height: 110px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
  color: #464646;
  font-size: 16px;
}

.card-guit{
  background-color: rgba(4, 184, 29, 0.7);
  margin-top: 150px;
  height: 110px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
  color: #464646;
  font-size: 16px;
}

.card-cl{
  background-color: rgba(0, 109, 203, 0.7);
  margin-top: 150px;
  height: 110px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
  color: #464646;
  font-size: 16px;
}

.circle-graph{
  margin-top: 100px;
  height: 400px;
  width: 900px;
  margin-left: 100%;
}

.cart-number{
  margin-left: 160px;
  margin-right: 50px;
  color: white;
  font-size: 40px;
  margin-bottom: 50px;
}

.pr-desc-us{
  text-align: center;
  margin-top: -20px;
  color: white;
  font-size: 17px;

}

.pr-desc-gitary{
  text-align: center;
  margin-top: -20px;
  color: white;
  font-size: 17px;
}

.pr-desc{
  text-align: center;
  color: white;
  font-size: 17px;
}

.pr-desc-mes{
  margin-top: 60px;
  margin-left: 85px;
  position: absolute;
  color: white;
  font-size: 17px;
}

.cart-number-mes{
  position: absolute;
  margin-left: 150px;
  margin-right: 50px;
  color: white;
  font-size: 40px;
}

.panel-heading{
  background-color: rgba(188, 184, 193, 0.33);
  height: 45px;
  padding-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  color: rgba(26, 26, 26, 0.89);
  font-family: 'Exo', sans-serif;
  color: #464646;
}

.panel-default{
  height: 420px;
}

.list-group-item{
  height: 45px;
}

.list-group{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 350px;

}

.list-group-item:hover{
  background: rgba(163, 163, 163, 0.14);
}

.margin{
  padding-bottom: 150px;
}


.search{
  font-size: 20px;
  width: 50vw;
  height: 50px;
}


h1{
  display: flex;
  text-align: center;
  justify-content: center;
  color: #555;
  margin-bottom: 20px;
}

input{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50vw;
  height: 35px;
  background-color: #fff;
  color: #555;
  border-radius: 5px;
  border: 1px solid #555;
}

.row{
  display: flex;
  justify-content: center;
}

.add, .searched{
  background-color: #fff;
  height: auto;
  margin: 50px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #555;

}

.input-group{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 30vw;
  margin-bottom: 20px;
}

h2{
  color: #555;
  font-size: 25px;
  margin-top: 10px;
}

select{
  font-size: 15px;
}

.count{
  font-size: 15px;
}

label{
  font-size: 20px;
}

.btn-info:focus,.btn-info:active, .btn-info:visited {
  background-color: transparent;
  outline: none !important;
  box-shadow: none;
}

form .row2 input, form .row2 textarea, .add .form-control{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  border: 1px solid #ccc;
}

.add .form-control{
  margin-top: 10px;
}

.searched .btn{
  margin: 10px;
}

.btn-success{
  margin-bottom: 20px;
}





/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center;

}
#contact{
  margin-top: 100px;
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;

  color : #fff;
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}

.table{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 900px;

}


@media only screen and (max-width: 680px){
  .header{
    font-size: 30px;
  }

  .margin{
    margin-top: 50px;
  }
}
