.container-fluid{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #eee;
  color: black;
  font-size: 40px;
  margin-bottom: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.margin{
  padding-bottom: 150px;
}

.search{
  font-size: 20px;
  width: 50vw;
  height: 50px;
}

h1{
  display: flex;
  text-align: center;
  justify-content: center;
  color: #555;
  margin-bottom: 20px;
}

input{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50vw;
  height: 35px;
  background-color: #fff;
  color: #555;
  border-radius: 5px;
  border: 1px solid #555;
}

.row{
  display: flex;
  justify-content: center;
}

.add, .searched{
  background-color: #fff;
  height: auto;
  margin: 50px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #555;

}

.input-group{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 30vw;
  margin-bottom: 20px;
}

h2{
  color: #555;
  font-size: 25px;
  margin-top: 10px;
}

select{
  font-size: 15px;
}

.count{
  font-size: 15px;
}

label{
  font-size: 20px;
}

form .row2 input, form .row2 textarea, .add .form-control{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  border: 1px solid #ccc;
}

.add .form-control{
  margin-top: 10px;
}

.searched .btn{
  margin: 10px;
}

.btn-success{
  margin-bottom: 20px;
}
