<div class="contact1">
<h1 style="text-align: center; font-size: 50px;   font-family: 'Staatliches', cursive; color: #ffe9cf; margin-top: 100px">SKONTAKTUJ SIĘ Z NAMI</h1>
  <div class="container-contact1">
    <div class="contact1-pic js-tilt" data-tilt>
      <img src="../../assets/message.png" alt="IMG" width="200px" height="200px">
    </div>

    <form class="contact1-form validate-form">

      <div class="wrap-input1 validate-input" data-validate = "Wprowadź imię">
        <input class="input1" style="font-size: 18px" type="text" name="name" placeholder="Imię">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Wprowadź email">
        <input class="input1" style="font-size: 18px" type="text" name="email" placeholder="Email">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Wprowadź temat">
        <input class="input1" type="text" style="font-size: 18px" name="subject" placeholder="Temat">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input" data-validate = "Wprowadź wiadomość">
        <textarea class="input1" style="font-size: 18px" name="message" placeholder="Wiadomość"></textarea>
        <span class="shadow-input1"></span>
      </div>

      <div class="container-contact1-form-btn">
        <button class="contact1-form-btn">
						<span>
							Wyślij wiadomość
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
        </button>
      </div>
    </form>
  </div>
</div>
